<a href="https://colab.research.google.com/github/pb111/Python/blob/master/Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Lists**

https://www.w3schools.com/python/python_lists.asp

## **1. Python Collections (Arrays)**


- There are four collection data types in the Python programming language:


- **1. List** - List is a collection which is ordered and changeable. Allows duplicate members.
- **2. Tuple** - Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- **3. Set** - Set is a collection which is unordered and unindexed. No duplicate members.
- **4. Dictionary** - Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.


- When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## **2. List**

- A list is a collection which is ordered and changeable. 

- In Python lists are written with square brackets.

In [1]:
# create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

### 2.1 Access Items in a list

- You access the list items by referring to the index number:

In [2]:
# print second item of the list.
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### 2.2 Negative Indexing

- Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [3]:
# print the last item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### 2.3 Range of Indexes

- You can specify a range of indexes by specifying where to start and where to end the range.

- When specifying a range, the return value will be a new list with the specified items.

- **Note** : The search will start at index 2 (included) and end at index 5 (not included).

- Remember that the first item has index 0.

In [4]:
# return the third, fourth, and fifth item.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

### 2.4 Leave out the start value

- Remember that the first item has index 0.

- By leaving out the start value, the range will start at the first item.

- This example returns the items from the beginning to "orange".

In [5]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

### 2.5 Leave out the end value

- By leaving out the end value, the range will go on to the end of the list.

- This example returns the items from "cherry" and to the end.

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

### 2.6 Range of Negative Indexes

- Specify negative indexes if you want to start the search from the end of the list:

- This example returns the items from index -4 (included) to index -1 (excluded)

In [7]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## **3. Change List Item Value**

- To change the value of a specific item, refer to the index number.

- Example : Change the second item.

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

## **4. Loop Through a List**

- You can loop through the list items by using a for loop.

- Example : Print all items in the list, one by one.

In [9]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

## **5. Check if Item Exists**

- To determine if a specified item is present in a list use the in keyword.

- Example : Check if "apple" is present in the list:

In [10]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## **6. List Length - len() function**

- To determine how many items a list has, use the **len()** function.

- Example : Print the number of items in the list.

In [11]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## **7. Add Items**

### 7.1 append() method

- To add an item to the end of the list, use the **append()** method.

- Example : Using the append() method to append an item.

In [12]:
thislist = ["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### 7.2 insert() method

- To add an item at the specified index, use the **insert()** method.

- Example : Insert an item at the second position.

In [13]:
thislist = ["apple","banana","cherry"]
thislist.insert(1,"orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

## **8. Remove Item**

- There are several methods to remove items from a list.

### 8.1 remove() method

- The **remove()** method removes the specified item.

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

### 8.2 pop() method

- The **pop()** method removes the specified index, (or the last item if index is not specified).

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

### 8.3 del keyword

- The **del** keyword removes the specified index.

In [16]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

### 8.4 del keyword

- The del keyword can also delete the list completely.

In [17]:
thislist = ["apple", "banana", "cherry"]
del thislist

### 8.5 clear() method

- The **clear()** method empties the list.

In [18]:
thislist = ["apple","banana","cherry"]
thislist.clear()
print(thislist)

[]

## **9. Copy a List**

- You cannot copy a list simply by typing **list2 = list1** , 
- because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

### 9.1 copy() method

- There are ways to make a copy, one way is to use the built-in List method **copy()**.

- **Example** - Make a copy of a list with the **copy()** method.

In [19]:
thislist = ["apple","banana","cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

### 9.2 Built in method list()

- Another way to make a copy is to use the built-in method list().

- **Example** - Make a copy of a list with the list() method.

In [20]:
thislist = ["apple","banana","cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

## **10. Join Two Lists**

- There are several ways to join, or concatenate, two or more lists in Python.

### 10.1 + Operator

- One of the easiest ways are by using the + operator.

- **Example** - Join two list.

In [21]:
list1 = ["a","b","c"]
list2 = [1,2,3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

### 10.2 Join two lists by appending them

- Another way to join two lists are by appending all the items from list2 into list1, one by one.

In [22]:
list1 = ["a","b","c"]
list2 = [1,2,3]

for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

### 10.3 extend() method

- Use the extend() method to add list2 at the end of list1.

In [23]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## **11. The list() Constructor**

- It is also possible to use the **list() constructor** to make a new list.

- **Example** : Using the list() constructor to make a List:

In [24]:
thislist = list(("apple","banana","cherry"))  # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# **12. List Methods**

- Python has a set of built-in methods that you can use on lists.

- Method	- Description
- append()	- Adds an element at the end of the list
- clear()	- Removes all the elements from the list
- copy()	- Returns a copy of the list
- count()	- Returns the number of elements with the specified value
- extend()	- Add the elements of a list (or any iterable), to the end of the current list
- index()	- Returns the index of the first element with the specified value
- insert()	- Adds an element at the specified position
- pop()	    - Removes the element at the specified position
- remove()	- Removes the item with the specified value
- reverse()	- Reverses the order of the list
- sort()	- Sorts the list