<a href="https://colab.research.google.com/github/pb111/Python/blob/master/Python_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **Python Tuples**

## **1. Tuple**

- A tuple is a collection which is **ordered** and **unchangeable**. 

- In Python tuples are written with round brackets.

### Difference between Lists and Tuples

- A list is written with square brackets but a tuple is written with round bracketts.

- A list is a collection which is ordered and changeable while a tuple is a collection which is ordered and unchangeable.

In [1]:
# create a tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## **2. Access Tuple Items**

- You can access tuple items by referring to the index number, inside square brackets.

In [2]:
# Print the second item in the tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### 2.1 Negative Indexing

- Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [3]:
# Print the last item of the tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

### 2.2 Range of Indexes

- You can specify a range of indexes by specifying where to start and where to end the range.

- When specifying a range, the return value will be a new tuple with the specified items.

In [4]:
# Return the third, fourth, and fifth item
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

- **Note**: The search will start at index 2 (included) and end at index 5 (not included).

- Remember that the first item has index 0.

### 2.3 Range of Negative Indexes

- Specify negative indexes if you want to start the search from the end of the tuple.

In [5]:
# This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

## **3. Change Tuple Values**

- Once a tuple is created, you cannot change its values. Tuples are **unchangeable**, or **immutable** as it also is called.

- But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [6]:
# Convert the tuple into a list to be able to change it

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

## **4. Loop Through a Tuple**

- You can loop through the tuple items by using a for loop.

In [7]:
# Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

## **5. Check if Item Exists**

- To determine if a specified item is present in a tuple use the in keyword.

In [8]:
# Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## **6. Tuple Length**

- To determine how many items a tuple has, use the **len()** method.

In [9]:
# Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## **7. Add Items**

- Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

In [11]:
# You cannot add items to a tuple:

# thistuple = ("apple", "banana", "cherry")
# thistuple[3] = "orange" # This will raise an error
# print(thistuple)